.wp-block-a8c-bauhaus-centenary {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 4px; }
  .wp-block-a8c-bauhaus-centenary .forms,
  .wp-block-a8c-bauhaus-centenary .year,
  .wp-block-a8c-bauhaus-centenary .ribbon {
    padding: 0 2rem; }
  .wp-block-a8c-bauhaus-centenary .forms {
    display: flex;
    justify-content: center;
    align-content: center; }
    .wp-block-a8c-bauhaus-centenary .forms svg {
      width: auto;
      margin-right: 1rem; }
  .wp-block-a8c-bauhaus-centenary .ribbon {
    display: flex; }
    .wp-block-a8c-bauhaus-centenary .ribbon svg {
      height: 100%; }
    .wp-block-a8c-bauhaus-centenary .ribbon svg:first-child {
      flex-grow: 0; }
    .wp-block-a8c-bauhaus-centenary .ribbon svg:last-child {
      flex-grow: 1; }
  .wp-block-a8c-bauhaus-centenary.alignfull {
    border-radius: 0; }
    .wp-block-a8c-bauhaus-centenary.alignfull .ribbon {
      padding: 0; }
      .wp-block-a8c-bauhaus-centenary.alignfull .ribbon svg:first-child {
        flex-grow: 1; }
      .wp-block-a8c-bauhaus-centenary.alignfull .ribbon svg:last-child {
        flex-grow: 3; }
